/* app css stylesheet */

h1 {
  text-align: center;
  margin: 30px
}
.input-box, .month{
  width: 300px;
  margin: 20px auto;
}

.calendar {
  overflow: hidden;
}

.month-label {
  text-align: center;
}

.day-label,
.days-box {
  list-style: none;
  overflow: hidden;
  text-align: center;
  padding: 0;
  margin: 0;
}

.day-label li,
.day {
  float: left;
  width: 38px;
  height: 38px;
  line-height: 38px;
  vertical-align: middle;
}
.days-list {
  list-style: none;
  overflow: hidden;
  text-align: center;
  padding: 0;
  margin: 0;
}

.day {
  background-color: #ccc;
  border: 1px solid #fff;
}

.day.hasData {
  background-color: #c6db8a;
}

.day.isWeekend {
  background-color: #fcf72d;
}


